.button {
  background: none;
  border-style: none;
  border: 1px solid var(--color-text-secondary);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  gap: var(--space-8);
  font-size: 14px;
  padding: var(--space-16);
  cursor: pointer;
  text-decoration: none;
  transition: color 200ms var(--transition-ease-cubic), background 200ms var(--transition-ease-cubic);
  width: fit-content;
}
.button:hover {
  border-color: var(--color-grey-90);
  background: var(--color-text-secondary);
  color: var(--color-white);
}

.button--primary {
  background: var(--color-text-secondary);
  color: var(--color-white);
}
.button--active,
.button--primary:hover {
  border-color: var(--color-text-primary);
  background: var(--color-text-primary);
  color: var(--color-white);
}

.button--disabled {
  opacity: 0.7;
  pointer-events: none;
}

.button--small {
  padding: var(--space-8);
  font-size: 12px;
}

.button--lean {
  border-style: none;
  padding-left: 0;
}
.button--lean:hover {
  background: none;
  color: var(--color-text-secondary);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .button--small {
    padding: var(--space-12);
    font-size: 13px;
  }
}