.block--left {
  display: block;
  /* pointer-events: none; */
  position: absolute;
  padding: var(--space-2);

  background: var(--color-grey);
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  /* z-index: var(--z-index-bg); */
}

.block--bottom {
  display: block;
  /* pointer-events: none; */
  position: absolute;
  padding: var(--space-2);

  background: var(--color-grey-90);
  opacity: 0.9;
  height: 20%;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: var(--z-index-bg); */
}

.block--top-right {
  background: var(--color-grey-90);
  display: block;
  /* pointer-events: none; */
  
  position: absolute;
  opacity: 0.9;
  top: 5%;
  right: 5%;

  border-radius: 15px;
  width: 30px;
  height: 30px;

  /* z-index: var(--z-index-bg); */
}

@media screen and (max-width: 450px) {
  .block--bottom,
  .block--left,
  .block--top-right {
    display: none;
  }
}