.homepage {
  display: flex;
}

.block--left {
  display: flex;
  align-items: center;
  padding: var(--space-2);
}

.block--bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-2);
}

.explainer__heading {
  /* font-size: 42px; */
  margin-top: 0;
}

.explainer__description {
  /* font-size: 14px; */
}

.waitlist-form {
  position: absolute;
  left: 45%;
  top: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.waitlist-input {
  width: 30vw;
  padding: var(--space-1) var(--space-2);
  margin-bottom: var(--space-1);
}

.waitlist-submit {
  cursor: pointer;
  display: block;
  width: 180px;
}

@media screen and (max-width: 450px) {
  .homepage {
    flex-direction: column;
  }

  .explainer {
    align-self: flex-start;
    max-width: 100%;
  }

  .waitlist-form {
    position: relative;
    left: auto;
    top: auto;
    margin-top: var(--space-7);
  }

  .waitlist-input {
    width: 150px;
  }

  .waitlist-submit {
    font-size: 12px;
    width: 80px;
  }
}
