.homepage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.home__hero {
  background: var(--color-grey);
}

.home__hero-content {
  display: flex;
  flex-direction: column-reverse;
}

.home__hero-heading {
  margin-top: var(--space-20);
}

.home__hero-image {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.home__hero-ctas {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  margin-top: var(--space-40);
}

@media screen and (min-width: 768px) {
  .home__hero {
  }
  .home__hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: calc(var(--space-40) * 2);
    margin-bottom: calc(var(--space-40) * 3);
  }
  .home__hero-content > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--space-20);
  }

  .home__hero-text {
    max-width: 90%;
  }

  .home__hero-heading {
    margin-bottom: var(--space-12);
  }

  .home__hero-description {
    max-width: 80%;
  }

  .home__hero-ctas {
    flex-direction: row;
    margin-top: auto;
  }
}
