.waitlist {
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius-sm);
  padding: var(--space-16);
  margin: auto;
  margin-top: var(--space-40);
}
.waitlist__description {
  font-size: 14px;
  padding: 0;
  margin-bottom: var(--space-12);
  opacity: 0.7;
}
.waitlist__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}
.waitlist__input {
  border-style: none;
  border: 1px solid var(--color-grey-90);
  font-size: 14px;
  padding: var(--space-16);
  flex-grow: 1;
}
.waitlist__submit {
  width: fit-content;
}

.waitlist__error {
  font-size: 14px;
  color: var(--color-text-error);
}

.waitlist__success {
  font-size: 14px;
  color: var(--color-text-success);
}

.waitlist--loading {
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .waitlist {
    max-width: 950px;
    width: 100%;
  }

  .waitlist__description {
    font-size: 16px;
    margin-bottom: 0;
  }
  
  .waitlist__description,
  .waitlist__error,
  .waitlist__success {
    padding: 0 var(--space-24);
  }

  .waitlist__form {
    flex-direction: row;
    padding: var(--space-12) var(--space-24);
  }

  .waitlist__input {
    font-size: 16px;
  }
}
