.layout {
  background: var(--color-background);
}
.layout__main {
  background: var(--color-background);
  min-height: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  padding: calc(var(--space-40) * 2) var(--space-16) 0;
}
@media screen and (min-width: 768px) {
  .layout__main {
    padding: var(--space-40) var(--space-56);
  }
}
