.container {
  max-width: var(--site-width);
  margin: auto;
  padding: calc(var(--space-20) * 2) var(--space-24);
}

@media screen and (min-width: 768px) {
  .container {
    padding: var(--space-40) var(--space-56);
  }
}